<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('Perfil','/css/userprofile1.css')">
</head>
<body>
<div id="mobile-indicator"></div>
<div id="wrapper" style="display:none;">
    <div th:replace="layout::barra"></div>
    <div class="container-fluid">
        <div class="fila fila-principal">
            <div id="hiddenButton">
                <button id="verHiddenPanelButton" type="button">Opciones</button>
            </div>
            <div class="columna left-panel">
                <div class="fondoBlanco">
                    <ul class="opciones">
                        <li>Mi Perfil</li>
                        <li>Mapa</li>
                        <li>Mis Incentivos</li>
                    </ul>
                </div>
            </div>
            <div class="columna content1">
                <div class="fila">
                    <h2 class="nombreUsuario subtitulo">Bienvenido (Nombre usuario)</h2>
                </div>
                <div class="fila cuadros">
                    <div class="columna uno">
                        <div class="fondoBlanco">
                            <img class="place-holder-logo" th:src="@{/images/placeholderLogo.png}" alt=""/>
                            <h3>Aqui van a haber estadisticas y más</h3>
                        </div>
                    </div>
                    <div class="columna dos">
                        <div class="fondoBlanco">
                            <img class="place-holder-logo" th:src="@{/images/placeholderLogo.png}" alt=""/>
                            <h3>Aqui van a haber estadisticas y más</h3>
                        </div>
                    </div>
                </div>
                <div class="fila cuadros">
                    <div class="columna uno">
                        <div class="fondoBlanco">
                            <img class="place-holder-logo" th:src="@{/images/placeholderLogo.png}" alt=""/>
                            <h3>Aqui van a haber estadisticas y más</h3>
                        </div>
                    </div>
                    <div class="columna dos">
                        <div class="fondoBlanco">
                            <img class="place-holder-logo" th:src="@{/images/placeholderLogo.png}" alt=""/>
                            <h3>Aqui van a haber estadisticas y más</h3>
                        </div>
                    </div>
                </div>
                <div class="fila grafica">
                    <div class="fondoBlanco">
                        <div class="chart-container">
                            <div class="datosUsosMeses" style="display:none;">
                                <h6 id="cantidadMes1" th:text="${cantidadMes1}">12</h6>
                                <h6 id="cantidadMes2" th:text="${cantidadMes2}">19</h6>
                                <h6 id="cantidadMes3" th:text="${cantidadMes3}">3</h6>
                                <h6 id="cantidadMes4" th:text="${cantidadMes4}">5</h6>
                                <h6 id="cantidadMes5" th:text="${cantidadMes5}">2</h6>
                                <h6 id="cantidadMes6" th:text="${cantidadMes6}">2</h6>
                                <h6 id="nombreMes1" th:text="${nombreMes1}">Enero</h6>
                                <h6 id="nombreMes2" th:text="${nombreMes2}">Febrero</h6>
                                <h6 id="nombreMes3" th:text="${nombreMes3}">Marzo</h6>
                                <h6 id="nombreMes4" th:text="${nombreMes4}">Abril</h6>
                                <h6 id="nombreMes5" th:text="${nombreMes5}">Mayo</h6>
                                <h6 id="nombreMes6" th:text="${nombreMes6}">Junio</h6>
                            </div>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columna content2">
                <div class="p-wordWrapper">
                    <div class="fila the-p-word">
                    </div>
                </div>
                <div class="fila titulo-historial">
                    <h2 class="subtitulo">Historial de préstamos</h2>
                </div>
                <div class="fila tabla">
                    <div class="fondoBlanco">
                        <table class="table table-sm table-responsive">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Cicloparqueadero</th>
                                <th scope="col">Fecha Llegada</th>
                                <th scope="col">Hora Llegada</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha Salida</th>
                                <th scope="col">Hora Salida</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <a href="#">Descargar historial</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CDN charts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
<!--javascript propio-->
<script th:src="@{/javascript/charts/userChart1.js}"></script>
<script th:src="@{/javascript/commonApp.js}"></script>
<script th:src="@{/javascript/userApp.js}"></script>
<!--<script th:src="@{/javascript/ajax/ajaxUser.js}"></script>-->
<script th:src="@{/javascript/ajax/fetchUser.js}"></script>
</body>
</html>