<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('Perfil','/css/user.css')">
</head>
<body>
<div id="wrapper" style="display:none;">
    <div id="barra">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:  #000000;">
            <form th:action="@{|/|}" method="post">
                <input id="username" name="username" th:value="${username}" type="hidden"/>
                <input id="jwt" name="jwt" th:value="${jwt}" type="hidden"/>
                <input id="primerNombre" name="primerNombre" type="hidden"/>
                <button class="navbar-brand" id="logo" type="submit">CicloBosque</button>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-text login-button">
                    <form class="form-inline" action="#" method="post">
                        <button type="submit" class="close" aria-label="Close">
                            <!--TODO: Poner el logo correcto-->
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                        <span>Salir</span>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-md-2 left-panel">
                <div class="fondoBlanco h-100">
                    <ul class="opciones">
                        <li>Mi Perfil</li>
                        <li>Mapa</li>
                        <li>Mis Incentivos</li>
                        <li>Participantes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 content1">
                <div class="row">
                    <h2 class="nombreUsuario">Bienvenido (Nombre usuario)</h2>
                </div>
                <div class="row cuadros">
                    <div class="col">
                        <div class="fondoBlanco h-100">
                            <img width="80" th:src="@{/images/placeholderLogo.png}" alt=""/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fondoBlanco h-100">
                            <img width="80" th:src="@{/images/placeholderLogo.png}" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="row cuadros">
                    <div class="col">
                        <div class="fondoBlanco h-100">
                            <img width="80" th:src="@{/images/placeholderLogo.png}" alt=""/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fondoBlanco h-100">
                            <img width="80" th:src="@{/images/placeholderLogo.png}" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="row grafica">
                    <div class="fondoBlanco">
                        <div class="chart-container">
                            <div class="datosUsosMeses" style="display:none;">
                                <h6 id="cantidadMes1" th:text="${cantidadMes1}">12</h6>
                                <h6 id="cantidadMes2" th:text="${cantidadMes2}">19</h6>
                                <h6 id="cantidadMes3" th:text="${cantidadMes3}">3</h6>
                                <h6 id="cantidadMes4" th:text="${cantidadMes4}">5</h6>
                                <h6 id="cantidadMes5" th:text="${cantidadMes5}">2</h6>
                                <h6 id="cantidadMes6" th:text="${cantidadMes6}">2</h6>
                                <h6 id="nombreMes1" th:text="${nombreMes1}">Enero</h6>
                                <h6 id="nombreMes2" th:text="${nombreMes2}">Febrero</h6>
                                <h6 id="nombreMes3" th:text="${nombreMes3}">Marzo</h6>
                                <h6 id="nombreMes4" th:text="${nombreMes4}">Abril</h6>
                                <h6 id="nombreMes5" th:text="${nombreMes5}">Mayo</h6>
                                <h6 id="nombreMes6" th:text="${nombreMes6}">Junio</h6>
                            </div>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 content2">
                <div class="p-wordWrapper">
                    <div class="row the-p-word">
                    </div>
                </div>
                <div class="row titulo-historial">
                    <h2>Historial de préstamos del Mes</h2>
                </div>
                <div class="row tabla">
                    <div class="fondoBlanco">
                        <table class="table table-sm table-responsive">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Cicloparqueadero</th>
                                <th scope="col">Fecha Llegada</th>
                                <th scope="col">Hora Llegada</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha Salida</th>
                                <th scope="col">Hora Salida</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Ciudad del rio</td>
                                <td>28/01/2017</td>
                                <td>9:00</td>
                                <td>Activo</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                           <!-- <tr>
                                <th scope="row">2</th>
                                <td>Ciudad del rio</td>
                                <td>26/01/2017</td>
                                <td>9:00</td>
                                <td>Cerrado</td>
                                <td>26/01/2017</td>
                                <td>10:00</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Ciudad del rio</td>
                                <td>26/01/2017</td>
                                <td>9:00</td>
                                <td>Cerrado</td>
                                <td>26/01/2017</td>
                                <td>10:00</td>
                            </tr>
                            <tr>
                                <th scope="row">23</th>
                                <td>Ciudad del rio</td>
                                <td>26/01/2017</td>
                                <td>9:00</td>
                                <td>Cerrado</td>
                                <td>26/01/2017</td>
                                <td>10:00</td>
                            </tr>
                            <tr>
                                <th scope="row">30</th>
                                <td>Ciudad del rio</td>
                                <td>26/01/2017</td>
                                <td>9:00</td>
                                <td>Cerrado</td>
                                <td>26/01/2017</td>
                                <td>10:00</td>
                            </tr>
                            <tr>
                                <th scope="row">45</th>
                                <td>Ciudad del rio</td>
                                <td>26/01/2017</td>
                                <td>9:00</td>
                                <td>Cerrado</td>
                                <td>26/01/2017</td>
                                <td>10:00</td>
                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CDN charts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
<!--javascript propio-->
<script th:src="@{/javascript/charts/userChart.js}"></script>
<!--<script th:src="@{/javascript/ajax/ajaxUser.js}"></script>-->
<script th:src="@{/javascript/ajax/fetchUser.js}"></script>
</body>
</html>