@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: url('https://www.nationalgeographic.com/content/dam/travel/photos/000/861/86178.ngsversion.1471323001675.adapt.1900.1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: calc(100vh - 7rem); /*estos 7rem son los 7rem de margen del select*/
}

#mobile-indicator {
    display: none;
}

.select {
    margin: 7rem auto auto auto;
    width: 80%;
}

#logo {
    color: #92D050;
    background-color: black;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}

#logo img {
    height: 2rem;
}

.realFooter ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.realFooter {
    /*http://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/*/
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 3rem;
    /*line-height: 60px; */
    background-color: #000000;
}

.imagenCiclas, .variableInfo {
    margin: auto;
    padding: 0;
}

.login-button {
    margin: auto 0 auto auto;
}

#userProfileEntryForm, .dropdown {
    display: inline;
}

.username-button {
    background-color: black;
    color: #ffffff;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.cajaCiclasTotales, .cajaCiclasLibres {
    border-radius: 24px;
    background-color: #eeeeee;
    height: 160px;
    margin: 10px 35px;
    display: block;
}

.cajaCiclasLibres .row, .cajaCiclasTotales .row {
    height: 100%;
}

.img-cicloparqueadero {
    margin: 5px;
}

.btn-outline-dark {
    margin-top: 2rem;
    background-color: black;
    color: white;
    /*font-size: 1.5rem;*/
}

.infoCiclas {
    margin-top: 1.5rem;
}

.loginForm {
    width: 100%;
    position: absolute;
}

#logout-logo {
    width: 1rem;
}

#loginButton {
    padding-top: 0;
    padding-bottom: 0;
    background-color: black;
    border-style: none;
}

/*Redes:*/
/*https://www.w3schools.com/howto/howto_css_social_media_buttons.asp*/
.redes {
    margin: auto 0 auto auto;
}

.redes ul {
    list-style: none;
    padding: 0;
    margin: auto 0 auto auto;
}

.redes li {
    display: inline;
}

.fa {
    padding: 5px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 0 5px;
}

/*.fa:hover {
       opacity: 0.7;
   }*/

.fa-facebook, .fa-twitter, .fa-google, .fa-youtube, .fa-instagram {
    background: #000000;
    color: #444444;
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-google:hover {
    background: #dd4b39;
    color: white;
}

.fa-youtube:hover {
    background: #bb0000;
    color: white;
}

.fa-instagram:hover {
    background: #125688;
    color: white;
}

#selector, .cicloparqueaderoSelector {
    width: 100%;
}

#selector {
    background-color: #ffffff;
    border-style: none;
    color: black;
}

.wrapper {
    min-height: calc(100vh - 10rem); /*3rem del tamaño del footer y 7 rem de margen del select*/
}

/*Media queries*/

@media (min-width: 991px) {
    .loginForm {
        width: 200px;
        left: -100px;
    }
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) {

    #mobile-indicator {
        display: block;
    }

    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        cursor: pointer;
    }

    .container {
        max-width: 100%;
        width: 95%;
        font-size: 3.5rem;
        margin: auto auto auto auto;
    }

    .select {
        height: 20rem;
        padding-top: 10rem;
    }

    #selector {
        padding: 5% 0 5% 0;
        height: 90%;
        font-size: inherit;
    }

    #logo {
        font-size: 3.5rem;
    }

    #logo img {
        height: 4rem;
    }

    .navbar-toggler-icon {
        height: 6rem;
        width: 6rem;
    }

    .navbar-nav li {
        font-size: 4.5rem;
    }

    .select {
        width: 95%;
    }

    .dropdown-menu a {
        font-size: 4.5rem;
    }

    .cajas {
        display: block;
        width: 100%;
        margin: auto;
    }

    .cajaCiclasTotales, .cajaCiclasLibres {
        border-radius: 24px;
        background-color: #eeeeee;
        height: 350px;
        width: 100%;
        margin: 50px auto;
        display: block;
        max-width: 100%;
    }

    .cajaCiclasTotales .row .col, .cajaCiclasLibres .row .col {
        width: 100%;
        margin: auto;
    }

    img {
        width: 300px;
    }

    .variableInfo h3 {
        font-size: 3.5rem;
    }

    .variableInfo h4 {
        font-size: 3rem;
    }

    .vermas {
        font-size: 2.5rem;
        width: 80%;
        padding: 30px 0;
        margin: auto;
    }

    #loginButton {
        font-size: 4.5rem;
    }

    #sendButton, #cancelButton {
        font-size: 3.5rem;
    }

    #username, #password, label {
        font-size: 4rem;
    }

    .realFooter {
        height: auto;
        font-size: 3.5rem;
    }

    .toe, .container-fluid .row {
        display: block;
    }

    .fa-facebook, .fa-twitter, .fa-google, .fa-youtube, .fa-instagram {
        font-size: 5rem;
    }

    .redes{
        width: 100%;
    }

    .redes ul {
        width: 90%;
        margin: auto;
    }

    .redes ul li {
        margin: auto 15px auto 15px;
    }

}

