<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('Inicio','/css/home.css')">
</head>
<body>
<div id="mobile-indicator"></div>
<div id="overlay" onclick="apagarOverlay()"></div>
<div class="wrapper">
    <div th:replace="layout::barra"></div>

    <div class="container select">
        <div class="dropdown dropdown-parqueaderos">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="selector" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Buscar Ciclo-Parqueadero
            </button>
            <div class="dropdown-menu cicloparqueaderoSelector" aria-labelledby="selector">
                <a class="dropdown-item" id="ciudadRio" href="#">Ciudad del Rio</a>
                <a class="dropdown-item" id="otroLugar" href="#">Otro Lugar</a>
                <a class="dropdown-item" id="algunOtroLugar" href="#">Algun otro lugar</a>
            </div>
        </div>
    </div>

    <div class="container infoCiclas" style="display:none;">
    <!--<div class="container infoCiclas">-->
        <div class="row justify-content-center cajas">
            <div class="col-md-3 cajaCiclasTotales">
                <div class="row">
                    <div class="col imagenCiclas">
                        <img class="img-cicloparqueadero" th:src="@{/images/cicloparqueadero.svg}"
                             alt="silueta cicloparqueadero"/>
                    </div>
                    <div class="col variableInfo">
                        <h3 id="total">60</h3>
                        <h4>Total celdas parqueo</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cajaCiclasLibres">
                <div class="row">
                    <div class="col imagenCiclas">
                        <img class="img-cicloparqueadero" th:src="@{/images/cicloparqueadero2.svg}"
                             alt="silueta cicloparqueadero"/>
                    </div>
                    <div class="col variableInfo">
                        <h3 id="libres">60</h3>
                        <h4>Celdas Libres</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <button type="button" class="btn btn-outline-dark vermas">Ver más</button>
        </div>
    </div>
</div>
<footer class="realFooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 toe">
                <ul>
                    <li><span class="text-muted">Contacto: comercial.jvl@gmail.com - 300 457 2486</span></li>
                    <li><span class="text-muted">Cra 53 #84-21 Itagüi, Antioquia</span></li>
                </ul>
            </div>
            <div class="col-md-4 redes toe">
                <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-youtube"></a></li>
                    <li><a href="#" class="fa fa-google"></a></li>
                </ul>
            </div>
            <div class="col-md-1 toe">
                <span class="fixed-bottom"><small>&copy;Daniel Vargas</small></span>
            </div>
        </div>
    </div>
</footer>
<script th:src="@{/javascript/commonApp.js}"></script>
<script th:src="@{/javascript/homeApp.js}"></script>
<script th:src="@{/javascript/ajax/ajaxHome.js}"></script>
</body>
</html>
