<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('Inicio','/css/home.css')">
</head>
<body>
<div id="mobile-indicator"></div>
<div id="overlay" onclick="off()"></div>
<div class="wrapper">
    <div id="barra">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:  #000000;">
            <a class="navbar-brand" id="logo" href="#">
                <img th:src="@{images/logo.svg}" alt="logo"/>
                CicloBosque</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="#">Inicio<span
                            class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Parqueo</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
                </ul>
                <div class="navbar-text login-button">
                    <form id="userProfileEntryForm" action="#" method="post">
                        <input id="jwt" name="jwt" type="hidden" th:value="${jwt}"/>
                        <input id="username" name="username" type="hidden" th:value="${username}"/>
                        <input id="primerNombre" name="primerNombre" type="hidden" th:value="${primerNombre}"/>
                    </form>
                    <div class="dropdown dropdown-login">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="loginButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acceder
                        </button>
                        <form id="loginForm" class="dropdown-menu p-3 loginForm">
                            <div class="form-group">
                                <label for="usernameInput">Usuario</label>
                                <input type="text" class="form-control" id="usernameInput"
                                       placeholder="Nombre Usuario"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" placeholder="Contraseña"/>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck2"/>
                                <label class="form-check-label" for="dropdownCheck2">
                                    Remember me
                                </label>
                            </div>
                            <button id="sendButton" type="submit" class="btn btn-primary">Entrar</button>
                            <button id="cancelButton" type="button" onclick="off()" class="btn btn-primary">Cancelar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container select">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="selector" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Buscar Ciclo-Parqueadero
            </button>
            <div class="dropdown-menu cicloparqueaderoSelector" aria-labelledby="selector">
                <a class="dropdown-item" id="ciudadRio" href="#">Ciudad del Rio</a>
                <a class="dropdown-item" id="otroLugar" href="#">Otro Lugar</a>
                <a class="dropdown-item" id="algunOtroLugar" href="#">Algun otro lugar</a>
            </div>
        </div>
    </div>

    <div class="container infoCiclas" style="display:none;">
        <div class="row justify-content-center cajas">
            <div class="col-md-3 cajaCiclasTotales">
                <div class="row">
                    <div class="col imagenCiclas">
                        <img class="img-cicloparqueadero" width="90%" th:src="@{/images/cicloparqueadero.svg}"
                             alt="silueta cicloparqueadero"/>
                    </div>
                    <div class="col variableInfo">
                        <h3 id="total">60</h3>
                        <h4>Total celdas parqueo</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cajaCiclasLibres">
                <div class="row">
                    <div class="col imagenCiclas">
                        <img class="img-cicloparqueadero" width="90%" th:src="@{/images/cicloparqueadero2.svg}"
                             alt="silueta cicloparqueadero"/>
                    </div>
                    <div class="col variableInfo">
                        <h3 id="libres">60</h3>
                        <h4>Celdas Libres</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <button type="button" class="btn btn-outline-dark vermas">Ver más</button>
        </div>
    </div>
</div>

<footer class="realFooter">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-7 toe">
                <ul>
                    <li><span class="text-muted">Contacto: comercial.jvl@gmail.com - 300 457 2486</span></li>
                    <li><span class="text-muted">Cra 53 #84-21 Itagüi, Antioquia</span></li>
                </ul>
            </div>

            <div class="col-md-4 redes toe">
                <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-youtube"></a></li>
                    <li><a href="#" class="fa fa-google"></a></li>
                </ul>
            </div>
            <div class="col-md-1 toe">
                <span class="fixed-bottom"><small>&copy;Daniel Vargas</small></span>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{/javascript/app.js}"></script>
<script th:src="@{/javascript/ajax/ajaxHome.js}"></script>
</body>
</html>
